# =========================================
# Docusaurus (Website)
# =========================================

website/node_modules
website/build
website/.docusaurus
website/.cache
website/.cache-loader

# =========================================
# PDF Build
# =========================================

pdf/build
pdf/*.pdf
pdf/*.aux
pdf/*.log
pdf/*.out
pdf/*.toc
pdf/*.synctex.gz

# =========================================
# System / Editor Files
# =========================================

.DS_Store
.vscode
.idea

# =========================================
# Environment Files
# =========================================

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================================
# Logs
# =========================================

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Website build artifacts / working files
website/framework*.md

# Releases: only track final PDFs if desired
releases/*.pdf